# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Repo config
.git

# IDE configs
.vscode
.idea

# Environment variables
.env

# App exec
signatory
signatory-cli

# Other
website
grafana
integration_test
prometheus
