sig
*.cover

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/
.vscode
.devcontainer

dist
.release-env
.env
.docker-creds
/signatory
/signatory-cli
.DS_Store

# some integration_tests write secret env var to files
/integration_test/gcp-token.json
/integration_test/.env.vaults.cicd
/integration_test/service-principal.key