/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// /* You can override the default Infima variables here. */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #1a1e44;
	--ifm-color-button: #e4a45c;
	--ifm-color-primary-dark: rgb(33, 175, 144);
	--ifm-color-primary-darker: rgb(31, 165, 136);
	--ifm-color-primary-darkest: rgb(26, 136, 112);
	--ifm-color-primary-light: rgb(70, 203, 174);
	--ifm-color-primary-lighter: rgb(102, 212, 189);
	--ifm-color-primary-lightest: rgb(146, 224, 208);
	--ifm-border-color: #e4e7eb;
	--ifm-code-font-size: 95%;
	--ifm-white: #ffffff;
	--ifm-bg-light: #eceff2;
	--ifm-color-hover-link: #a13455;
	--sidebar-link-bg: #a13455;
	--ifm-navbar-height: 110px !important;
	--ifm-menu-color: var(--ifm-white);
	// --ifm-menu-link-padding-horizontal: 0px;
	--ifm-menu-color-background-active: var(--ifm-color-hover-link);
	--ifm-black: #333333;
}

h5 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 25px;
	/* identical to box height, or 147% */

	text-align: right;
	letter-spacing: 0.3px;
}

.docusaurus-highlight-code-line {
	background-color: rgb(72, 77, 91);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}
__docusaurus {
	background: var(--ifm-color-primary) !important;
}

.main-wrapper:before {
	content: ' ';
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	position: absolute;
	background: #1a1e44;
	z-index: -1;
}

.navbar .navbar--fixed-top {
	background: rgb(72, 77, 91);
}
// body {
// 	background-image: url('../../static/img/hero-background.png');
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	background-position: top;
// 	background-size: cover;
// 	z-index: 0;
// }
// Navbar
.navbar {
	background: transparent;
	height: 110px;
	padding-left: 7%;
	padding-right: 7%;
	box-shadow: none !important;
}

.navbar__items {
	flex-direction: unset;
	justify-content: unset;

	@media (max-width: 960px) {
		flex-direction: row-reverse;
		justify-content: space-between;
		.navbar__toggle {
			svg {
				path {
					stroke: var(--ifm-white) !important;
				}
			}
		}
	}
}

.navbar-sidebar {
	.navbar-sidebar__brand {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: var(--ifm-color-primary) !important;
	}

	.navbar-sidebar__items {
		padding-top: 30px;
	}

	max-width: 320px;

	.menu__list-item {
		max-width: 280px;
		padding-bottom: 5px;
	}

	.menu__list-item:nth-of-type(3) {
		width: fit-content;
		order: 0 !important;
	}

	.menu__link--active {
		color: var(--ifm-white) !important;
	}
	.button_link {
		width: fit-content;
	}
}
.navbar--fixed-top {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.header-github-link:before {
	background: url('../../static/img/githubSVG-yellow.svg') no-repeat;
	content: '';
	display: flex;
	height: 30px;
	width: 30px;
	padding-right: 15px;
}

.button_link {
	background-color: var(--ifm-color-button);
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	color: var(--ifm-color-primary) !important;

	&:hover {
		color: var(--ifm-white) !important;
	}
}
.navbar__logo {
	height: 50px;
	width: 195px;
}

/* Footer styles */

.footer {
	background: linear-gradient(132.76deg, #a13455 -80.79%, #1a1e44 54.08%);
	/* base-shadow */

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-top: 80px;
	padding-bottom: 15px;
	position: relative;
	border-top: 2px solid var(--ifm-border-color);
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer__title {
	white-space: nowrap;
	margin-bottom: 11px;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 25px;
	/* identical to box height, or 147% */

	letter-spacing: 0.3px;
}

.footer .container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 40px;
}

.footer__links {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	flex: 0 0 0 0;
	color: var(--ifm-white) !important;
	padding-bottom: 20px;
}

.footer__links .footer__col {
	flex: unset;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.footer__links > div:nth-of-type(1) {
	width: 15%;
}

.footer__item {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;

	a {
		width: fit-content;
		color: var(--ifm-white) !important;

		&:hover {
			color: var(--ifm-white) !important;
			text-decoration: none !important;
		}
	}

	.footerButton {
		color: var(--ifm-color-primary) !important;

		&:hover {
			color: var(--ifm-white) !important;
			text-decoration: none !important;
		}
	}
}

.footer__links > div:nth-of-type(2) {
	width: 15%;
}

.footer__links > div:nth-of-type(3) {
	width: 15%;

	@media (max-width: 996px) {
		margin-right: auto;
	}
}

.footer__links > div:nth-of-type(4) {
	width: 45%;
}

.footer__bottom {
	display: none;
}

.footerButtonContainer {
	margin-bottom: 20px;
}

.footerDescription {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--ifm-white);
	/* or 129% */
	max-width: 250px;
	letter-spacing: 0.3px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.footer__copyright {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	border-top: 2px solid var(--ifm-border-color);
	padding: 20px 40px;
	color: var(--ifm-white) !important;
	padding-left: 5%;
	padding-right: 5%;
}

.footerButton {
	height: fit-content;
	white-space: nowrap;
	display: flex;
	align-items: center;
	background-color: var(--ifm-color-button);
	padding: 12px 18px;
	border-radius: 0px;
	margin-right: 15px;
	color: var(--ifm-color-primary) !important;
	border-radius: 2px;

	&:hover {
		color: var(--ifm-white) !important;
		text-decoration: none !important;
	}

	margin-bottom: 50px !important;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.3px;
}
.footerButton:before {
	background: url('../../static/img/githubSVG.svg') no-repeat;
	content: '';
	display: flex;
	width: 24px;
	height: 23px;
	padding-right: 9px;
}

.footerForm {
	width: 100%;
	margin-top: 50px;
}

.footerInputContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footerEmail {
	border: none;
	background: transparent;
	border-bottom: 1px solid var(--ifm-border-color);
	padding-right: 100px;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.footerLogo {
	width: fit-content;
	height: fit-content;
	max-width: 140px;
	svg {
		width: fit-content;
		height: fit-content;
	}
}

@media only screen and (max-width: 996px) {
	// .row .col--3 {
	//   position: relative;
	// }

	.copyright {
		white-space: unset;
	}

	.row .col.col.col {
		--ifm-col-width: 50%;
		flex-basis: unset;
		margin-left: 0;
	}

	.footer__links .footer__col {
		flex: unset;
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	.footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.footer__links > div:nth-of-type(4) {
		width: 100%;
	}

	.footer__links > div:nth-of-type(3) {
		width: 50%;
	}

	.footer__links > div:nth-of-type(2) {
		width: 50%;
	}

	.footer__links > div:nth-of-type(1) {
		width: 50%;
	}

	.signupButton {
		margin-top: 20px;
		margin-left: 0px;
	}
}

//sidebar

@media only screen and (max-width: 1240px) {
	.table-of-contents {
		padding-right: 20px;
	}
}

@media only screen and (max-width: 996px) {
	// .row .col--3 {
	//   position: relative;
	// }

	.copyright {
		white-space: unset;
	}

	.row .col.col.col {
		--ifm-col-width: 50%;
		flex-basis: unset;
		margin-left: 0;
	}

	.footer__links .footer__col {
		flex: unset;
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	.footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.footer__links > div:nth-of-type(4) {
		width: 100%;
	}

	.footer__links > div:nth-of-type(3) {
		width: 50%;
	}

	.footer__links > div:nth-of-type(2) {
		width: 50%;
	}

	.footer__links > div:nth-of-type(1) {
		width: 50%;
	}

	.signupButton {
		margin-top: 20px;
		margin-left: 0px;
	}
}

div.col h1 {
	color: var(--ifm-color-text-primary);
}

div.col h2 {
	color: var(--ifm-color-text-primary);
}

div.col p {
	color: var(--ifm-color-text-primary);
}

.pagination-nav__sublabel {
	display: none;
}

a.pagination-nav__link {
	border: none;
}

.pagination-nav__label {
	color: var(--ifm-color-text-primary);
}

//sidebar

aside {
	display: block;
	width: var(--doc-sidebar-width);
	margin-top: calc(-1 * var(--ifm-navbar-height));
	border-right: none !important;
	will-change: width;
	transition: width var(--ifm-transition-fast) ease;
	clip-path: inset(0);
	padding-top: 120px;
	background-color: var(--ifm-color-primary);
	color: var(--ifm-white);

	.menu__link {
		&:hover {
			color: var(--ifm-white) !important;
			border-radius: 24px;
			background: rgb(161, 52, 85, 0.2) !important;
		}
	}
	.menu__link--active {
		color: var(--ifm-white) !important;
		border-radius: 24px;

		&:hover {
			color: var(--ifm-white) !important;
			border-radius: 24px;
			background: rgb(161, 52, 85) !important;
		}
	}

	// .theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 .menu__list-item
	a {
		border-radius: 24px !important;
		font-family: Fira Sans;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		/* or 112% */

		letter-spacing: 0.3px;

		&:hover {
			border-radius: 24px;
			color: var(--ifm-white) !important;
		}
	}

	.menu {
		padding: 3rem 2.5rem 5rem 5rem !important;
		height: 100% !important;

		// overflow-x: none !important;
		@media (max-width: 1200px) {
			padding: 3rem 1.5rem 3rem 1.5rem !important;
		}
	}

	.theme-doc-sidebar-item-category-level-1 > a {
		font-family: Fira Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: var(--ifm-white);
	}

	.theme-doc-sidebar-item-category {
		padding-bottom: 30px;
	}
}

.table-of-contents__link--active {
	color: var(--ifm-black);
}

.table-of-contents__link:hover {
	color: var(--ifm-white);
}

.table-of-contents__left-border {
	border-left: 2px solid rgb(161, 52, 85, 0.2);
}

.theme-doc-toc-desktop {
	top: calc(var(--ifm-navbar-height) + 120px) !important;
}

.menu__list .menu__list {
	margin-left: 0px !important;
}

// [data-theme='dark'] .menu__link--active:not(.menu__link--sublist) {
//   background: var(--brown-secondary) !important;
// }

.pagination-nav {
	border-top: 1px solid var(--ifm-white);
}

.pagination-nav__label {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 12px;
	letter-spacing: 0.2px;
}

.toc-highlight {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	/* or 112% */

	letter-spacing: 0.3px;

	code {
		color: var(--ifm-white);
	}
}

.padding-top--md {
	padding-top: 120px !important;
	padding-left: 3rem !important;

	a {
		color: var(--ifm-white) !important;
	}
}

.menu__list-item-collapsible .menu__link {
	color: var(--ifm-white) !important;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	/* or 138% */

	letter-spacing: 0.3px;
	background: none;
	display: block;
}

.menu__list-item-collapsible:hover {
	background-color: transparent !important;
	color: var(--ifm-whited) !important;

	a {
		background-color: transparent !important;
		color: var(--ifm-white) !important;
	}
}

.menu__link .menu__link--sublist-caret .menu__link--active:hover {
	background-color: transparent !important;
	color: var(--ifm-color-hover-link) !important;
}

.breadcrumbs__item--active .breadcrumbs__link {
	color: var(--ifm-black) !important;
}

.padding-top--md a {
	color: var(--ifm-black) !important;
}

.padding-top--md .table-of-contents__link {
	color: var(--ifm-black) !important;
	&:hover {
		color: var(--ifm-color-hover-link) !important;
	}
}

.padding-top--md .table-of-contents__link--active {
	color: var(--ifm-color-hover-link) !important;
}

.col--3 > * {
	position: sticky !important;
	top: 110px !important;
}

article {
	padding-top: 2rem !important;
}

// .table-of-contents {
//   font-size: 0.8rem;
//   margin-bottom: 0;
//   padding: var(--ifm-toc-padding-vertical) 0;
// }
