on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:

name: Test and publish

permissions:
  contents: write
  deployments: write
  issues: write
  packages: write

env:
  CC_BINARY_URL: https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: Setup Code Climate test-reporter
        run: |
          curl -L "$CC_BINARY_URL" > ./cc-test-reporter
          chmod +x ./cc-test-reporter
      - name: Run tests
        run: |
          export GIT_COMMIT_SHA='${{ github.sha }}'
          export GIT_BRANCH="$(echo '${{ github.ref }}' | sed -E -e 's/.*\/(.*)/\1/')"
          export CC_TEST_REPORTER_ID='${{ secrets.CC_TEST_REPORTER_ID }}'

          ./cc-test-reporter before-build

          echo "Running tests..."
          go test -coverprofile c.out ./...

          mod="$(cat go.mod | awk '/^module/ {print $2}')"

          if [[ ! -z "$CC_TEST_REPORTER_ID" ]]; then
            echo "Generating coverage report..."
            ./cc-test-reporter after-build -p "${mod}/" -t gocov
          fi

  publish:
    name: Goreleaser
    runs-on: ubuntu-latest
    # needs: test
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Write release-env file
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: ${{ github.workspace }}/.release-env
          contents: |
            DOCKER_FAIL_ON_LOGIN_ERROR=true
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}

      -
        name: goreleaser release-dry-run
        run: make release-dry-run
        if: "!startsWith(github.ref, 'refs/tags/v')"

      - run: docker image ls


      # - 
      #   name: goreleaser release
      #   run: make release
      #   if: startsWith(github.ref, 'refs/tags/v')

