name: Run integration tests

on:
  workflow_dispatch:
  push:
  pull_request:
    types: [opened]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      NODE_ADDR: https://ithacanet.ecadinfra.com
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build -t signatory-test -f ./integration_test/Dockerfile .
      - name: Run tests
        run: docker run -e 'ENV_ACTIVATION_KEY=${{ secrets.FAUCET_ACTIVATION_KEY }}' -e "ENV_NODE_ADDR=${NODE_ADDR}" signatory-test
