name: Run integration tests

on:
  push:
  pull_request:
    types: [opened]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        testnet_endpoints:
          - https://ghostnet.ecadinfra.com
          - https://jakartanet.ecadinfra.com
          - https://kathmandunet.ecadinfra.com
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build -t signatory-test -f ./integration_test/Dockerfile .
      - name: Run tests
        run: docker run -e 'ENV_SECRET_KEY=${{ secrets.ENV_SECRET_KEY }}' -e "ENV_NODE_ADDR=${{ matrix.testnet_endpoints }}" signatory-test
